<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Añadir un turno</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://js.pusher.com/6.0/pusher.min.js"></script>
    <script src="{{ url_for('static', filename='registerPusher.js') }}"></script>

    <link href="{{ url_for('static', filename='general.css') }}" rel="stylesheet">

  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <nav class="navbar navbar-light" style="background-color: #add6e8;">
      <a class="navbar-brand" href="{{ url_for('webRoutes.dashboardAdmin') }}">Volver</a>
      <a class="navbar-brand  my-2 my-lg-0" href="{{ url_for('webRoutes.logoutAdmin') }}">Cerrar sesión</a>
    </nav>

    <div id="toastContainer">
    </div>


    <div class="container">
      {% if error_maquinista %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        El maquinista <strong>ya se encuentra</strong> en el sistema
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% if ok_maquinista %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        El maquinista <strong>se ha ñadido</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
    </div>

    <div class="container">
      <div class="general-contenedor">
        <form class="form-horizontal"  method="POST" action="{{ url_for('webRoutes.nuevoMaquinista') }}">
          <div class="form-group has-danger">
            <label class="col-sm" for="inputNombre"><strong>Nombre del maquinista:</strong></label>
            <div class="col-sm-5">
              <input id="inputNombre" class="form-control " name="nombre" type="text" placeholder="Nombre" required/>
            </div>
          </div>
          <div class="form_group">
            <div class="col-sm-offset-2 col-sm-10">
              <input class="btn btn-light" type="submit" value="Añadir maquinista" />
            </div>
          </div>
        </form>
      </div>
    </div>
