<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Añadir un turno</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='general.css') }}" rel="stylesheet">

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('main.principal') }}">Volver</a>
    </nav>

    <div class="general-contenedor">
      <div class="container">

        {% if error_turno %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          El turno <strong>ya se encuentra</strong> en el sistema
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% if ok_turno %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          El turno <strong>se ha añadido</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}

        <form class="form-horizontal"  method="POST" action="{{ url_for('main.nuevoTurno') }}">
          <div class="form-group has-danger">
            <label class="col-sm" for="nombreTurno">Nombre del turno:</label>
            <div class="col-sm-5">
              <input id="nombreTurno" class="form-control " name="nombreTurno" type="text" placeholder="Nombre del turno" required/>
            </div>
          </div>

          <div class="form-group has-danger">
            <label class="col-sm" for="nombreMaquina">Nombre de la maquina:</label>
            <div class="col-sm-5">
              <input id="nombreMaquina" class="form-control " name="nombreMaquina" type="text" placeholder="Nombre de la maquina" required/>
            </div>
          </div>

          <div class="form_group">
            <div class="col-sm-offset-2 col-sm-10">
              <input class="btn btn-primary" type="submit" value="Añadir turno" />
            </div>
          </div>
        </form>
      </div>
    </div>



  </body>
</html>
