<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Listado de turnos de {{ maquinista.nombre_m }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='general.css') }}" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #add6e8;">
      <a class="navbar-brand" href="{{ url_for('webRoutes.buscarTurnosMaquinista') }}">Volver a buscar maquinista</a>
      <a class="navbar-brand  my-2 my-lg-0" href="{{ url_for('webRoutes.logoutAdmin') }}">Cerrar sesión</a>
    </nav>

    {% if (turnos|length) <= 0 %}
      <div class="container">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          El maquinista seleccionado <strong>no tiene turnos asignados</strong>.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    {% endif %}
    <div class="container">
      <div class="general-contenedor">

        <ul class="list-group">
          {% for turno in turnos %}
            <li class="list-group-item list-group-item-action"> <a href="{{ url_for('webRoutes.ficherosTurno',maquinista_arg=maquinista.id,turno_arg=turno.id) }}"> {{ turno.nombre_t }} </a>  </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
