<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Iniciar sesion de administrador</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='general.css') }}" rel="stylesheet">

  </head>
  <body>

    <div class="container">
      {% if error_login %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Los datos son <strong>incorrectos</strong> o el administrador <strong>no se encuentra en el sistema</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
    </div>

    <div class="container">
      <div class="general-contenedor">
        <form class="form-horizontal"  method="POST" action="{{ url_for('webRoutes.loginAdmin') }}">
          <div class="form-group has-danger">
            <label class="col-sm" for="nombreAdmin"><strong>Nombre del administrador:</strong></label>
            <div class="col-sm-5">
              <input id="nombreAdmin" class="form-control " name="nombreAdmin" type="text" placeholder="Nombre del administrador" required/>
            </div>
          </div>

          <div class="form-group has-danger">
            <label class="col-sm" for="passwordAdmin"><strong>Contraseña:</strong></label>
            <div class="col-sm-5">
              <input id="passwordAdmin" class="form-control " name="passwordAdmin" type="password" placeholder="Contraseña del administrador" required/>
            </div>
          </div>

          <div class="form_group">
            <div class="col-sm-offset-2 col-sm-10">
              <input class="btn btn-light" type="submit" value="Entrar" />
            </div>
          </div>
        </form>
      </div>
    </div>

  </body>
</html>
