<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Principal</title>
  </head>
  <body>

    {% if respuesta == 'Fallo'%}
      <p style="color:red">
        Nombre de maquinista erroneo
      </p><br />
    {% end %}
    <form method="POST" action="{{ url_for('main.listTurnos') }}">
      <label for="textMaquinista">Nombre del maquinista:</label><br />
      <input id="nombre" name="nombre" type="text" /><br />
      <input type="submit" value="Buscar" />
    </form>
  </body>
</html>
